body {
    background-color: #3F3152;
    background-image: url(../img/footer_lodyas.png);
}
a {
    color:dimgray;
    text-decoration: none;
    transition-duration: 0.2s;
}
a:hover {
    color:#F78F8B;
    transition-duration: 0.2s;
}
.container {
    background-color: #fff;
    padding:1% 1%;
}
h1,h2,h3,h4,h5 {
    font-weight: bold;
}
h1.title {
    text-align: center;
}
footer {
    text-align: center;
    font-size: 12px;
    padding-bottom: 10px;
}
footer i.fa {
    font-size: 15px;
}
.panel {
    margin: 50px 0;
}

#controlPanel.panel{
    margin: 0px 0;
}

#controlPanel .buttonIcon a{
    color:black;
    transition-duration: 1s;
    text-decoration: none;
}
#controlPanel .buttonIcon a:hover{
    color:#FF1D36;
    transition-duration: 0.8s;
    text-decoration: none;
}
#controlPanel .buttonIcon i.fa{
    font-size: 100px;
}

a span {
    text-decoration: underline;
}
/*Colors: */
.cl-pink {
    color:#F78F8B;
}
.cl-green {
    color:#468847;
}
a.cl-green:hover {
    color:darkslategray;
}
footer .love i.fa {
    font-size: 15px;
    transition-duration: 0.3s;
}
footer .love:hover i.fa {
    font-size: 20px;
    transition-duration: 0.3s;
}
.breadcrumbs span {
    margin-right:5px;
}
.breadcrumbs {
    font-size: 18px;
}
i.errorface {
    font-size:200px;
}
h1.error {
    font-size:70px;
}
a.errorlink {
    font-size:30px;
    font-weight: bold;
    text-transform: uppercase;
}
.actions a {
    color:black;
    margin:3px;
}
form.search {
    display: inline-block;
}
form.edit label{
    font-weight: bold;
    margin:0;
}
form.edit p {
    margin:3px 0;
}
form.edit input, form.edit textarea {
    width: 100%;
}
