body {
    background-color: #3F3152;
}
a {
    color:cornflowerblue;
    text-decoration: none;
}
.container {
    background-color: #fff;
    padding:1% 1%;
}
h1,h2,h3,h4,h5 {
    font-weight: bold;
}
h1.title {
    text-align: center;
}
footer {
    text-align: center;
    font-size: 12px;
}
footer i.fa {
    font-size: 15px;
}
.panel {
    margin: 50px 0;
}

#controlPanel.panel{
    margin: 0px 0;
}

#controlPanel .buttonIcon a{
    color:black;
    transition-duration: 1s;
    text-decoration: none;
}
#controlPanel .buttonIcon a:hover{
    color:#FF1D36;
    transition-duration: 0.8s;
    text-decoration: none;
}
#controlPanel .buttonIcon i.fa{
    font-size: 100px;
}

a span {
    text-decoration: underline;
}
/*Colors: */
.cl-pink {
    color:#F78F8B;
}
footer .love i.fa {
    font-size: 15px;
    transition-duration: 0.3s;
}
footer .love:hover i.fa {
    font-size: 20px;
    transition-duration: 0.3s;
}
.breadcrumbs span {
    margin-right:5px;
}
.breadcrumbs {
    font-size: 18px;
}