{% extends "template.html" %}
{% block content %}
<h1 class="title">Manage Levels</h1>
<h4>Add level Type: </h4>
<div class="row">
    <div class="column one-half">
        <form action="" method="post" class="edit">
                    <p><label>LevelType No: </label>  <input type="text" class="typeNo" name="id" value=""  data-validation="custom required" data-validation-regexp="^[0-9]*$"/></p>
                    <p><label>Name: </label>  <input type="text" class="typeName" name="typeName" value="" data-validation=" required"  /></p>
            <p><input type="submit" value="Save Changes"/> </p>
                </form>
    </div>
</div>
<script>
    $.validate();

</script>
{% endblock %}