{% extends "template.html" %}
{% block content %}
<h1 class="title">Manage Levels</h1>
<h4>Add level </h4>
<div class="row">
    <div class="column one-half">
        <form action="" method="post" class="edit">
                    <p><label>Game: </label>
                        <select name="gameNo">
                            {% for g in games %}
                                <option  value="{{ g.r1 }}"> {{ g.r2 }} </option>
                            {% endfor %}
                        </select>
                    </p>
                    <p><label>Level No: </label>  <input type="text" class="id" name="levelNo" value="" data-validation-regexp="^[0-9]*$" data-validation="custom required" /></p>
                    <p> <label>Type:</label>
                        <select name="levelType">
                            {% for lt in leveltypes %}
                                <option  value="{{ lt.r1 }}"> {{ lt.r2 }} </option>
                            {% endfor %}
                        </select>
                    </p>
        <p><label>Points for:  <i class="fa fa-star"></i> </label>  <input data-validation-regexp="^[0-9]*$" data-validation="custom required" type="text" name="star1" value="" /></p>
        <p><label>Points for:  <i class="fa fa-star"></i> <i class="fa fa-star"></i> </label>  <input data-validation-regexp="^[0-9]*$" data-validation="custom required" type="text" name="star2" value="" /></p>
        <p><label>Points for:  <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i> </label>  <input data-validation-regexp="^[0-9]*$" data-validation="custom required" type="text" name="star3" value="" /></p>
                    <p><input type="submit" value="Save Changes"/> </p>

                </form>
    </div>
</div>
<script>
    $.validate();
</script>
{% endblock %}  