{% extends "template.html" %}
{% block content %}
<h1 class="title">Manage Levels</h1>
    <h4>Edit Existing Levels: <small>(Choose a Game)</small></h4>
    <ul>
    {% for g in games %}
        <li><a href="{{ url_for('editGameLevels') }}?gameNo={{ g.r1 }}">{{ g.r2 }} ({{ g.r3 }} levels)</a></li>
    {% endfor %}
    </ul>

    <a href="{{ url_for('addLevel') }}" class="button">Add New Level</a>

    <h4>Manage Level Types:</h4>
    <ul>
    {% for lt in levelTypes %}
        <li><a href="{{url_for('editLevelType')}}?id={{ lt.r1 }}">{{ lt.r2 }}</a></li>
    {% endfor %}
    </ul>
        <a href="{{ url_for('addLevelType') }}" class="button">Add New Level Type</a>
{% endblock %}  