{% extends "archive.html" %}
{% block search %}
 <div class="row">
    <div class="columns six "><h5>{{ pageSubTitle }}</h5>     <strong><a href="{{ url_for('gameAdd') }}" class="cl-green"><i class="fa fa-plus"></i> Add New Game</a></strong> </div>
    <div class="columns five offset-by-one">
         <form action="" method="post">
            <input type="text" name="name" value="{{request.form.name }}" placeholder="Game Name"/>
            <input type="submit" value="Search" />
        </form>
    </div>
 </div>
{% endblock %}
{% block loop %}
        <table class="u-full-width">
                <thread>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Criteria</th>
                    <th>Actions</th>
                </thread>
            <tbody>
            {% for p in posts %}
                <tr>
                        <td>{{ p.id }}</td>
                        <td><a href="{{ url_for('gameEdit') }}?gameNo={{ p.id }}" Title="Edit {{ p.name }} "> {{ p.name }} </a> </td>
                        <td> {{ p.desc }}</td>
                        <td>
                            {% for c in p.c %}

                                    <span class="criteria"><a href="{{ url_for('criteriaEdit') }}?cCode={{ c.cNo }}" >{{ c.cName }}</a></span>
                                {%  if not loop.last %},{% endif %}
                            {% endfor %}
                        </td>
                        <td class="actions"><a href="{{ url_for('gameEdit') }}?gameNo={{ p.id }}"Title="Edit {{ p.name }} "> <i class="fa fa-pencil"></i></a>
                        </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

{% endblock %}  