{% extends "archive.html" %}
{% block search %}
 <div class="row">
    <div class="columns six "><h5>{{ pageSubTitle }}</h5>     <strong><a href="{{ url_for('criteriaAdd') }}" class="cl-green"><i class="fa fa-plus"></i> Add New Criteria</a></strong> </div>
    <div class="columns five offset-by-one">
         <form action="" method="post">
            <input type="text" name="name" value="{{request.form.name }}" placeholder="Criteria Name"/>
            <input type="submit" value="Search" />
        </form>
    </div>
 </div>
{% endblock %}
{% block loop %}
        <table class="u-full-width">
                <thread>
                    <th>Code</th>
                    <th>Name</th>
                    <th>Attached To Game</th>
                    <th>Amount</th>
                    <th>Actions</th>
                </thread>
            <tbody>
            {% for c in allCriterias %}
                <tr class="{{ c.type }}">
                        <td>{{c.id }}</td>
                        <td><a href="{{ url_for('criteriaEdit') }}?cCode={{ c.id }}" Title="Edit {{ c.name }} "> {{ c.name }} </a> </td>
                        {%  if c.gameName != None  %}
                            <td><a href="{{ url_for('gameEdit') }}?gameNo={{ c.gameNo }}" Title="Edit {{ c.gameName }} ">{{ c.gameName }}</a></td>
                            {% else %}
                                <td>None</td>
                        {% endif %}
                        <td> {{c.amount }}</td>
                        <td class="actions"><a href="{{ url_for('gameEdit') }}?gameNo={{ c.id }}"Title="Edit {{c.name }} "> <i class="fa fa-pencil"></i></a>
                            <a href="#" title="info"> <i class="fa fa-info-circle"></i></a>
                            <a href="#" title="Remove"> <i class="fa fa-trash-o"></i></a>
                        </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

{% endblock %}  