

        <h5>Info: </h5>
        <form action="" method="post" class="edit">
            <p><label>Criteria No: </label>  <input data-validation-regexp="^[0-9]*$" data-validation="custom required" type="text" class="id" name="id" value="{{ critNo }}"   {% if critNo !="" %} readonly  {% endif %} /></p>
            <p> <label>Name: </label> <input type="text" class="name" name="critName" value="{{ critName }}" data-validation="required length"  data-validation-length="1-33" /></p>
            <p> <label>Amount: </label> <input type="text" class="amount" name="critAmount" value="{{ critAmount }}" data-validation="required length"  data-validation-length="1-33" /></p>

            <p><input type="submit" value="Save Changes"/> </p>
        </form>

        {%  if isGameCrit == False %}
            <h5>This is currently not a game criteria</h5>
            <a class="button" onclick="makeGameCriteria()">Make Game Criteria</a>
                <script>
                    function makeGameCriteria() {
                                window.open("{{ url_for('makeGameCriteria') }}?cCode={{ critNo }}", "", "width=1, height=1");
                                window.open("{{ url_for('criteriaEdit') }}?cCode={{ critNo }}","_self")
                        }
                    </script>
            {% else %}
                {% if attached==True %}
                    <h5>Attached to:     <a href="{{ url_for('gameEdit')}}?gameNo={{ game[0].id }}">{{ game[0].name }}</a></h5>
                    <a class="button" onclick="removeAttachment()">Remove Attachment</a>
                    <script>
                            function removeAttachment() {
                                window.open("{{ url_for('removeCriteriaFromGame') }}?cCode={{ critNo }}&?gameNo={{ game[0].id }}", "", "width=1, height=1");
                                window.open("{{ url_for('criteriaEdit') }}?cCode={{ critNo }}","_self")
                        }
                    </script>
                    {% else %}
                        <a href="{{ url_for('games') }}" class="button">Manage Games</a>

                {% endif %}
        {% endif %}
