{% extends "archive.html" %}
{% block search %}
 <div class="row">
    <div class="columns six"><h5>{{ pageSubTitle }}</h5> <strong><a href="{{ url_for('criteriaAdd') }}" class="cl-green"><i class="fa fa-plus"></i> Add New Criteria </a></strong></div>
    <div class="columns five offset-by-one">
         <form action="" method="post">
            <input type="text" name="name" value="{{request.form.name }}" placeholder="Criteria Name"/>
            <input type="submit" value="Search" name="search-form" />
        </form>
    </div>
 </div>
{% endblock %}

{% block loop %}
<div class="row">
    <div class="columns six">
        {% include 'criteria-form.html' %} <Br>
          <a href="#" onclick="remove()" class="button cl-red  ">Remove </a>
    </div>
</div>
    <script>
    function remove() {
            if (confirm('Are you sure you want to delete this criteria'))
                window.open("{{ url_for('deleteCritX') }}?x={{request.args.cCode }}","_self");
    }
    $.validate();
    </script>
{% endblock %}  