{% extends "archive.html" %}
{% block search %}
 <div class="row">
    <div class="columns six"><h5>{{ pageSubTitle }}</h5> <strong><a href="{{ url_for('gameAdd') }}" class="cl-green"><i class="fa fa-plus"></i> Add New Criteria </a></strong></div>
    <div class="columns five offset-by-one">
         <form action="" method="post">
            <input type="text" name="name" value="{{request.form.name }}" placeholder="Criteria Name"/>
            <input type="submit" value="Search" name="search-form" />
        </form>
    </div>
 </div>
{% endblock %}

{% block loop %}
<div class="row">
    <div class="columns six">
        {% include 'criteria-form.html' %}
    </div>
    <div class="columns six">
        <h5>Quick Stats:</h5>
        <p> stats goes here </p>
       <strong><a href="#">More Info</a></strong>
{#        todo add more info link#}
    </div>
</div>
    <script>
    $.validate();
    </script>
{% endblock %}  