

        <h5>Info: </h5>
        <form action="" method="post" class="edit">
            <p><label>Game No: </label>  <input data-validation-regexp="^[0-9]*$" data-validation="custom required" type="text" class="id" name="id" value="{{ gameNo }}"   {% if gameNo !="" %} readonly  {% endif %} /></p>
            <p> <label>Name: </label> <input type="text" class="name" name="name" value="{{ gameName }}" data-validation="required length"  data-validation-length="1-33" /></p>
            <p> <label>Description: </label><textarea class="desc" name="desc" data-validation="required length"  data-validation-length="1-255">{{ gameDesc }}</textarea></p>

            <p><input type="submit" value="Save Changes"/> </p>
        </form>


        {% if showCriteria == True %}
            <h5>Current Criteria:</h5>
            <ul class="criterias current">
                {% for c in gameCriteria %}
                    <li class="criteria code{{ c.cCode }}">{{ c.cName }}  <a onclick="removeCriteria({{ c.cNo }})" target="_blank" class="remove criteria" title="Remove Criteria"></a></li>
                {% endfor %}
            </ul>
            <h5>Available Criteria:</h5>
            <ul class="criterias available">
                {% for c in gameUnusedCriteria %}
                    <li class="criteria  code{{ c.cNo }}">{{ c.cName }} <a onclick="addCriteria({{ c.cNo }},{{ gameNo }})" target="_blank" class="add criteria"  title="Add Criteria"></a>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}


<script>
$(document).on('click', 'a.add', function(e) {
        $(this).removeClass("add");
        $(this).addClass("remove");
        $(this).prop('title', 'Remove Criteria');
        $(".criterias.current ").append( $(this).parent('li'));


});
$(document).on('click', 'a.remove', function(e) {
        $(this).removeClass("remove");
        $(this).addClass("add");
        $(this).prop('title', 'Add Criteria');
        $(".criterias.available ").append( $(this).parent('li'));
});

    function addCriteria(cCode,gameNo) {
                window.open("/addCriteriaToGame?cCode="+cCode+"&gameNo="+gameNo, "", "width=1, height=1");
    }
    function removeCriteria(cCode) {

         window.open("/removeCriteriaFromGame?cCode="+cCode, "", "width=1, height=1");
    }
</script>