{% extends "template.html" %}
{% block content %}
<h1 class="title">Welcome to GameIT</h1>
<br />
<br />
    <div id="controlPanel" class="panel ">
    <h5>Dashboard: </h5>
        <div class="row">
            <div class="columns three buttonIcon offset-by-two">
                <a href ="{{ url_for('games') }}" title="Manage The Games In The System"><span>Manage Games</span> <br>
                <i class="fa fa-gamepad"></i>
                </a>
            </div>
            <div class="columns three buttonIcon">
                <a href ="{{ url_for('criterias') }}" title="Manage Criteria In The System"><span>Manage Criterias</span> <br>
                <i class="fa fa-folder"></i>
                </a>
            </div>
            <div class="columns three buttonIcon">
                <a href ="{{ url_for('mainReports') }}" title="Reports"><span>Reports</span> <br>
                <i class="fa fa-sticky-note"></i>
                </a>
            </div>
        </div>
    </div>
    <div id="quickStats" class="panel">
    <h5>Stats: </h5>
        <ul>
           <li>There are {{ numOfGames }} <strong>Games</strong> in the system </li>
           <li>There are {{ numOfUsers }} <strong>Users</strong> in the system</li>
           <li>There are {{ numOfLevels }} <strong>Levels</strong> in the system</li>
           <li>There are {{ numOfPurchases }} <strong>Purchases</strong> in the system</li>
        </ul>
    </div>
{% endblock %}