{% extends 'report-show.html' %}
{% block content %}
    <table class="u-full-width">
        <thread>
            <th>gameNo</th>
            <th>gameName</th>
            <th>Total Money</th>
            <th>No' of Buyers</th>
            <th>AVG Game Time</th>
        </thread>
        <tbody>
            {% for r in rows %}
                <tr>
                    <td>{{ r.r1 }}</td>
                    <td>{{ r.r2 }}</td>
                    <td>{{ r.r3 }}</td>
                    <td>{{ r.r4 }}</td>
                    <td>{{ r.r5 }}</td>
                </tr>
            {% endfor %}
        </tbody>


    </table>
{% endblock %}