{% extends 'report-show.html' %}
{% block content %}
    <table class="u-full-width">
        <thread>
            <th>Game Number</th>
            <th>Game Name</th>
            <th>Type Name</th>
            <th>Level Number</th>
            <th>No' Of Players</th>
            <th>No' Of Ranks</th>
            <th>No' Of None Ranks</th>
            <th>Average Rank</th>
        </thread>
        <tbody>
            {% for r in rows %}
                <tr>
                    <td>{{ r.r1 }}</td>
                    <td>{{ r.r2 }}</td>
                    <td>{{ r.r3 }}</td>
                    <td>{{ r.r4 }}</td>
                    <td>{{ r.r5 }}</td>
                    <td>{{ r.r6 }}</td>
                    <td>{{ r.r7 }}</td>
                    <td>{{ r.r8 }}</td>
                    <td>{{ r.r9 }}</td>
                </tr>
            {% endfor %}
        </tbody>


    </table>
{% endblock %}