<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="static/css/normalize.css">
    <link rel="stylesheet" type="text/css" href="static/css/skeleton.css">
    <link rel="stylesheet" type="text/css" href="static/css/main.css">
    <title>Welcome, friends!</title>
</head>

<body>
<div class="container">
    {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
    {% endfor %}
    {% if error %}
    <p class="error"><strong>Error:</strong> {{ error }}</p>
    {% endif %}
    {% block content %}
    {% endblock %}
<footer>made with <span class="cl-pink"> <i class="fa fa-heart"></i></span></footer>
</div>
</body>
</html>