<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/normalize.css')}}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/skeleton.css')}}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css')}}">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-form-validator/2.2.43/jquery.form-validator.min.js"></script>
    <script src="{{ url_for('static', filename='chart/Chart.js')}}"></script>
    <title>Welcome to GameIT!</title>
{#    TODO add a custom page title #}
</head>

<body>
<div class="container">
    <div class="breadcrumbs">
    <span>You are in:</span>
        {%- for breadcrumb in breadcrumbs -%}
            {%  if not loop.last %}
                 <a href="{{ breadcrumb.url }}">
             {% endif %}
                        {{ breadcrumb.text }}
             {%  if not loop.last %}
                </a>
            {% endif %}
            {{ '> ' if not loop.last }}
        {%- endfor -%}
    </div>
           {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
            <ul class=flashes>
            {% for category, message in messages %}
              <li class="{{ category }}">{{ message }}</li>
            {% endfor %}
            </ul>
          {% endif %}
        {% endwith %}
    {% block content %}
    {% endblock %}
<footer>made with <span class="cl-pink love"> <i class="fa fa-heart"></i></span></footer>
</div>
</body>
</html>