{% extends "archive.html" %}


{% block loop %}
<div class="row">
    <div class="columns six">
        <h3>User Info:</h3>
        <strong>UserNo: </strong> {{ user.r1 }}
        </br>
        <strong>NickName: </strong> {{ user.r3 }}
        </br>
        <strong>Email:</strong> <a href="mailto:{{ user.r2 }}">{{ user.r2 }}</a>
        </br>
        <strong>Registration Date: </strong> {{ user.r4 }}<br>
        <h4>Friends:</h4>
    <ul>
        {% for f in friends %}
            <li><a href="{{ url_for('userView') }}?id={{ f.r1 }}">{{ f.r3}} </a> </li>
        {% endfor %}
    </ul>
    </div>
    <div class="columns six">
        <h5>Game List:</h5>
        <ul>
            {% for game in games %}
                <li><a href="{{ url_for('gameEdit') }}?gameNo={{ game.r1 }}">{{ game.r2 }} (ID - {{ game.r1 }})</a></li>
            {% endfor %}
        </ul>
       <strong><a href="#">Downloads Per Month</a></strong>
        <canvas id="myChart" width="400" height="400"></canvas>
{#        todo add more info link#}
    </div>
</div>
    <script>
    var data = {
    labels: ["January", "February", "March", "April", "May", "June", "July","August","September","October","November","December"],
    datasets: [
        {
            label: "My Second dataset",
            fillColor: "rgba(151,187,205,0.5)",
            strokeColor: "rgba(151,187,205,0.8)",
            highlightFill: "rgba(151,187,205,0.75)",
            highlightStroke: "rgba(151,187,205,1)",
            data: [
                {% for gd in gameDownloads %}
                {{ gd }},
                {% endfor %}
            ]
        }
    ]
};
    var ctx = document.getElementById("myChart").getContext("2d");
    var myBarChart = new Chart(ctx).Bar(data,"");
    </script>
    <script>
    $.validate();
    </script>
{% endblock %}  